:root {
    --bubbleGray: #DBDBDB;
    --lighterGray: #A8A9AB;
    --darkerGray: #5A5850;
    --mediumGray: #C4C4C4;
    --lightestGray: #D3D3BA;
    --pink: pink;

    /* Doing this so that I don't accidentally change the colors of
    things by accident */
    --messageBubbleColor: var(--bubbleGray);
    --messageBubbleCutout: var(--mediumGray);
}

.indivMessage {
color: black;
margin-bottom: 0;
}

.indivMessageBox {
    background-color: var(--messageBubbleColor);
    padding: 10px;
    margin: 30px 10px 10px 10px;
    border-radius: 6px;
    position: relative;
    color: black;
    border-radius: 5px;
    max-width: 60%;
    min-width: 200px;
}

.indivMessageBox span {
    word-wrap: break-word;
    white-space: pre-wrap;
 }

.indivMessageBox::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    border-right: 30px solid var(--messageBubbleColor);
    /* background: var(--messageBubbleColor); */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
}

.indivMessageBox.type-metagame::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    border-right: 30px solid var(--pink);
    /* background: var(--messageBubbleColor); */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
}

.indivMessageBox::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    border-right: 14px solid var(--messageBubbleCutout);
    /* background: var(--messageBubbleColor); */
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
}

.indivMessageBox.status[data-status="true"] {
    background: white;
}

.indivMessageBox.status[data-status="true"]::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 10px;
    border-right: 30px solid white;
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
}

 .avatarAndMessages {
    display: flex;

}

.avatarBox {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
}

/* .avatar-position {
    display: block;
    position: absolute;
} */

.avatar {
    position: relative;
    align-self: flex-end;
    bottom: -10px;
    margin-top: 30px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* background-image: var(--background); */
    /* background-image: url('../../media/avatar.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.edit-message-form {
    padding: 0;
}

.edit-message-form input {
    border: 0;
    padding: 10px;
    width: 100%;
}

.indivMessageBox a {
    color: var(--teal);
}

.indivMessageBox a:hover {
    color: var(--deepTeal);
}

/* Dropdown Button */
  .dropbtn {
    color: black;
    font-size: 16px;
    font-weight: bold;
    writing-mode: vertical-rl;
    margin-left:12px;
    padding-top:8px;
  }

  .btncontainer {
    height: 32px;
    width: 32px;
    border-radius: 6px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .btncontainer:hover {
    background-color: rgb(237, 237, 237);
}


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }

  .edit-message-form button {
    margin: 5px;
  }

  /* Links inside the dropdown */
  .dropdown-box p {
    color: black;
    text-decoration: none;
    display: block;
    margin:0;
    padding: 5px;
  }

  /* Change color of dropdown links on hover */
  .dropdown-box p:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
  .dropdown-content-hidden {display: none;}

  .dropdown-box {
      position: absolute;
      left: 30px;
      background: white;
      border: 1px solid #e7e7e7;
      border-radius: 6px;
  }

  .message-text {
      margin-top: 5px;
      display: block;
  }

  textarea {
      resize: vertical;
      height: 100px;
  }
.character-box {
    display: block;
}

.sender-name {
    display: none;
}

.character-box:hover .sender-name {
    display: block;
    border: 1px solid gray;
    border-radius: 6px;
    color: gray;
    background: white;
    position: absolute;
    top: -20px;
    padding: 5px;
}

.type-metagame {
    background-color: pink;
}
