
.game-content-block span {
    display: block;
}

.game-content-block div p, .game-content-block span, .game-content-block .toggle-flex .toggle label, .game-content-block .toggle-flex h3 {
    color: black;
}

.game-content-block .toggle-flex h3 {
    color: black;
}

.game-content-block {
    display: block;
    padding-bottom: 30px;
}

label:first-of-type {
    margin-left: 0;
}

.toggle-flex {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.gray-backdrop {
    margin-top: 10px;
}

.edit-hidden {
    display: none;
}

.delete {
    background-color: red;
}
