@import-normalize;

:root {
  --lighterGray: #A8A9AB;
  --darkerGray: #5A5850;
  --mediumGray: #C4C4C4;
  --lightestGray: #D3D3BA;
  --veryDarkGray: #585858;
  --jacquaranda: #7B61FF;
  --deepJacquaranda: #5b3aff;

  /* Doing this so that I don't accidentally change the colors of
  things by accident */
  --navLink: var(--lighterGray);
  --cardBackgroundColor: var(--darkerGray);
  --cardTextColor: var(--lightestGray);
  --gameBoxColor: var(--mediumGray);
  --gameBoxTextColor: var(--veryDarkGray);
  --createGameButton: var(--jacquaranda);
  --createGameButtonHover: var(--deepJacquaranda);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar
{
    width: 0px;
}
body::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.container {
  padding: 20px;
}

.gray-backdrop {
  background: #C3c3c3;
  padding: 20px;
  border-radius: 6px;
}

button {
  background-color: var(--jacquaranda);
  border: 0;
  border-radius: 6px;
  padding: 10px;
  color: white;
  margin: 5px;
}
