
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(
        90deg,
        rgba(123, 97, 255, 1) 0%,
        rgba(204, 97, 255, 1) 14.2%,
        rgba(108, 179, 244, 1) 28.4%,
        rgba(150, 236, 210, 1) 42.6%,
        rgba(178, 236, 150, 1) 56.8%,
        rgba(236, 227, 150, 1) 71%,
        rgba(236, 181, 150, 1) 85.2%,
        rgba(236, 150, 150, 1) 100%
    );
    margin: 0px;
    color: black;
    padding: 5px 0 5px 0;
    align-items: flex-end;
  }

  /* @keyframes rainbow {
    0%   {background-position: 0px 0px;}
    14.2%  {background-position: 14.2%, 14.2%;}
    28.4% {background-position: 28.4%, 28.4%;}
    42.6% {background-position: 42.6%, 42.6%;}
    56.8% {background-position: 56.8%, 56.8%;}
    71% {background-position: 71%, 71%;}
    85.2% {background-position: 85.2%, 85.2%;}
    100% {background-position: 100%, 100%;}

  } */

  .navigation div:hover {
    font-weight: bold;
  }

  .navigation a:hover {
    font-weight: bold;
  }

  /* Cool but looks like crap... keeping for reference
  .navigation div:hover {
    font-weight: bold;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: rainbow;
    animation: rainbow 6s ease infinite;
  }

  .navigation a:hover {
    font-weight: bold;
    background-image: linear-gradient(to left, rgba(123, 97, 255, 1),
    rgba(204, 97, 255, 1),
    rgba(108, 179, 244, 1),
    rgba(150, 236, 210, 1),
    rgba(178, 236, 150, 1),
    rgba(236, 227, 150, 1),
    rgba(236, 181, 150, 1),
    rgba(123, 97, 255, 1));
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: rainbow;
    animation: rainbow 6s ease infinite;
  } */

  li {
    list-style-type: none;
  }

  .profile-dropdown {
    position: absolute;
    top: 7%;
    right: 8%;
    background-color: White;
    color: black;
    padding: 20px;
    border-radius: 6px;
  }

  .logoutModal {
    background-color: white;
  }

  .fa-envelope {
    color: #b5b5b5;
    padding-right: 10px;
  }

  .search-messages {
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-between;
    align-items: flex-end;
  }

  .fa-user {
    color: #b5b5b5;
  }

  .my-tables {
    color: #a23a35;
  }

  p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navigation a {
    text-decoration: none;
    color: black;
   }

  .logout-button {
    display: block;
  }

  .border-bottom {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b5b5b5;
  }
